@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff"), url("../fonts/MullerRegular.woff"), url("../fonts/MullerMedium.woff"), url("../fontsMullerBold.woff") format("woff");
  font-style: normal;
}

body {
  font-family: Muller;
  background: #f1f1f1;
}

body a {
  color: black;
}

select,
input {
  font-size: 16px;
  font-family: inherit;
}

input {
  border-bottom: 1px solid #cccccc;
}

.btn {
  padding: 13px 19px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  background-color: transparent;
  transition: 0.3s linear;
}

.btn:hover {
  color: #fff;
  background: #cc9933;
}

.btn:active {
  background: #a47312;
}

.title {
  margin: 0 0 20px 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.more {
  margin-top: 47px;
  font-size: 16px;
  line-height: 16px;
  color: #ffcc66;
  transition: font-size 0.3s linear;
}

.more::after {
  content: "";
  border-bottom: 2px solid #ffcc66;
  border-right: 2px solid #ffcc66;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  transform: rotate(-45deg);
}

.more:hover {
  font-size: 18px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 115px;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__bottom {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  height: 100%;
  background: #fff;
}

.header__nav {
  padding-left: 45px;
}

.header__btn {
  padding-right: 45px;
}

.left--header__logo {
  margin-right: 40px;
}

.left--header__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #666666;
}

.right--header__link {
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
}

.right--header__link::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 21px;
  height: 12px;
  background: url("../img/arrow-right.svg");
}

.nav--header {
  position: relative;
}

.nav--header:after {
  content: "";
  position: absolute;
  right: -55px;
  top: -17px;
  width: 1px;
  height: 50px;
  background: #e1e1e1;
}

.nav--header__list {
  display: flex;
}

.nav--header__item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.nav--header__item:not(:last-child) {
  margin-right: 46px;
}

.nav--header__link {
  color: #666666;
  transition: color 0.3s linear;
}

.nav--header__link:hover {
  color: #cc9933;
}

.btn--header__button:not(:last-child) {
  margin-right: 40px;
}

.section-special {
  margin-top: 70px;
}

.section-special__content {
  display: flex;
}

.contenet--special a {
  color: #ffffff;
}

.contenet--special__left {
  margin-right: 23px;
}

.contenet--special__left-list {
  display: flex;
  flex-direction: column;
}

.contenet--special__left-item {
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contenet--special__left-item:not(:last-child) {
  margin-bottom: 23px;
}

.contenet--special__left-link {
  display: block;
  width: 573px;
  height: 258px;
  padding: 40px;
}

.contenet--special__left-text {
  max-width: 299px;
}

.contenet--special__left-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.contenet--special__left-price {
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.8;
}

.contenet--special__right-link {
  display: block;
  padding: 211px 40px 40px;
  width: 573px;
  height: 540px;
}

.contenet--special__right-text {
  max-width: 299px;
}

.contenet--special__right-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.contenet--special__right-price {
  margin-top: 15px;
  font-size: 30px;
  line-height: 30px;
  opacity: 0.8;
}

.maldives {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle-14.png);
}

.krit {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle-15.png);
}

.luxe {
  background: url(../img/33-1.png);
}

.section-about {
  margin-top: 70px;
}

.section-about__title {
  margin-bottom: 10px;
}

.section-about__text {
  max-width: 888px;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.section-services {
  margin-top: 70px;
}

.section-services__titleheader {
  margin: -10px 0 20px 40px;
}

.section-services__list {
  display: flex;
  flex-wrap: wrap;
}

.section-services__list:not(:last-child) {
  margin-bottom: 23px;
}

.section-services__item {
  max-width: 573px;
}

.section-services__item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.section-services__text {
  padding: 26px 126px 32px 45px;
  border-radius: 0 0 15px 15px;
  background: #fff;
}

.section-services__title {
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.section-services__title:hover {
  font-size: 21px;
}

.section-services__decription {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.section-benefits {
  margin-top: 75px;
}

.section-benefits__title {
  margin: 0 0 32px 40px;
}

.section-benefits__list {
  display: flex;
  flex-wrap: wrap;
}

.section-benefits__list:not(:last-child) {
  margin-bottom: 23px;
}

.section-benefits__item {
  max-width: 275px;
  padding: 40px 42px 27px 45px;
  border-radius: 15px;
  background: #fff;
}

.section-benefits__item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.section-benefits__decription {
  margin-top: 5px;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.section-accommodation {
  margin-top: 78px;
}

.section-accommodation__title {
  margin: 0 0 28px 40px;
}

.section-accommodation__list {
  display: flex;
  flex-wrap: wrap;
}

.section-accommodation__list:not(:last-child) {
  margin-bottom: 23px;
}

.section-accommodation__item {
  max-width: 374px;
  min-height: 440px;
  transition: transform 0.3s linear;
}

.section-accommodation__item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.section-accommodation__item:hover {
  transform: scale(1.01);
}

.section-accommodation__info {
  padding: 36px 45px 41px;
  background: #fff;
}

.section-accommodation__link {
  position: absolute;
  left: 54px;
  bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.section-accommodation__link:hover {
  font-size: 21px;
}

.info {
  border-radius: 0 0 15px 15px;
  font-size: 16px;
  line-height: 16px;
}

.info__price {
  position: relative;
  display: flex;
  color: #999999;
}

.info__price-bold {
  padding: 0 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.info__star {
  position: absolute;
  top: 3px;
  right: 0;
}

.info__star-item {
  width: 14px;
  height: 14px;
}

.info__lagoona {
  margin: 16px 0;
  color: #000000;
}

.info__country {
  color: #999999;
}

.info__btn {
  margin-top: 20px;
}

.big-item {
  position: relative;
  background-color: #e9e9e9;
}

.section-tour {
  margin-top: 65px;
}

.tour__title {
  margin: 0 0 15px -5px;
}

.tour__wraper {
  padding: 38px 45px 71px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.tour__container {
  display: flex;
  justify-content: center;
}

.tour__form {
  max-width: 1080px;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 16px;
}

.tour__form-list {
  display: flex;
  height: 106px;
  position: relative;
  padding: 28px;
}

.tour__form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tour__form-item:not(:last-child) {
  padding-right: 62px;
}

.tour__form-item input {
  max-width: 120px;
}

.tour__form-item::after {
  content: "";
  position: absolute;
  left: -29px;
  width: 1px;
  height: 45px;
  background: #e1e1e1;
}

.tour__label {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #000000;
}

.tour__btn {
  padding: 13px 30px;
}

.section-contact {
  margin-top: 73px;
}

.section-contact__title {
  margin: 0px 0 26px 40px;
}

.section-contact__content {
  display: flex;
  justify-content: space-between;
  padding: 44px;
  background-color: #ffffff;
  border-radius: 15px;
}

.content-contact__left {
  max-width: 375px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.content-contact__left a {
  font-size: 16px;
  line-height: 150%;
  color: #cc9933;
}

.content-contact__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 23px;
}

.content-contact__item:not(:first-child) {
  padding: 25px 0;
}

.content-contact__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.content-contact__description {
  max-width: 229px;
  width: 100%;
}

.content-contact__description span {
  color: #999999;
}

.content-contact__right {
  width: 653px;
  height: 528px;
  background-image: url(../img/Layer-2-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content-contact__btn {
  margin-top: 40px;
  padding: 27px 29px;
}

.section-footer {
  margin: 20px 0;
}

.section-footer__wraper {
  display: flex;
  position: relative;
  padding: 45px 52px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 190%;
  color: #ffffff;
  background-color: #333333;
}

.section-footer__wraper a {
  line-height: 150%;
  color: #cc9933;
}

.section-footer__block-left {
  max-width: 320px;
  margin-right: 102px;
}

.section-footer__left-text {
  margin-bottom: 35px;
}

.section-footer__block-center {
  max-width: 380px;
}

.section-footer__center-address {
  font-style: normal;
}

.section-footer__center-phone {
  margin-bottom: 5px;
}

.section-footer__block-right {
  margin-left: auto;
}

.section-footer__right-item:not(:last-child) {
  margin-bottom: 10px;
}

.section-footer__right-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.section-footer__right-sova {
  background-image: url("../img/sova.svg");
}

.section-footer__right-twitter {
  background-image: url("../img/twitter.svg");
}

.section-footer__right-facebook {
  background-image: url("../img/facebook.svg");
}

.section-footer__right-vk {
  background-image: url("../img/vk.svg");
}

.section-footer__right-instagram {
  background-image: url("../img/instagram.svg");
}

.section-footer__logo {
  position: absolute;
  bottom: 0;
  right: 176px;
}
